#javascriptResult, #cSharpResult, #reactResult, #rubyResult, #epicodusResult {
  display: none;
}
.btn {
  color: cornflowerblue;
  border: 2px solid cornflowerblue;
}
.greenBold {
  color: green;
  font-weight: bold;
}
.purpleItalics {
  color: #B284BE;
  font-style: italic;
  font-weight: bold;
}
.clickable {
  color: blue;
  text-decoration: underline;
}
h1 {
  color: purple;
}
h2 {
  color: #9580FF;
  font-size: large;
}